################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArtilleryMath/v17
/ArtilleryMath/.vs/ArtilleryMath
